#!/bin/bash

if [ "$IFACE" != {{ network_interfaces[inventory_hostname].gateway.name }} ]; then
  exit 0
fi

ip link delete dev {{ kolla_network_interface }}
ip link delete dev {{ kolla_neutron_external_interface }}
