# In server mode, OpenVPN will listen on a single port for
# incoming client connections. All client connections will
# be routed through a single tun or tap interface. SSL/TLS
# authentication must be used in this mode.
mode server
compress lz4
push "compress lz4"

# This mode configures the tun interface with a local IP
# address and subnet mask. It also allocates a single
# IP address per connecting client.
# topology subnet

# It tells OpenVPN to internally route client-to-client
# traffic rather than pushing all client-originating traffic
# to the TUN/TAP interface. When this option is used, each
# client will see the other clients which are currently
# connected. Otherwise, each client will only see the server.
client-to-client

# For setting static IP.
# client-config-dir {{ openvpn_path_ccd }}

dev {{ item.dev}}
port {{ item.port }}
proto {{ item.proto }}
# server {{ item.network }} {{ item.mask }}
server-bridge

# SSL/TLS settings.
ca {{ openvpn_path_ca }}
cert {{ openvpn_path_server_crt }}
key {{ openvpn_path_server_key }}
crl-verify {{ openvpn_path_crl }}
dh {{ openvpn_path_dh }}

tls-version-min 1.2

# The tls-auth directive adds an additional HMAC signature to
# all SSL/TLS handshake packets for integrity verification.
tls-auth {{ openvpn_path_ta }} 0

# openvpn --show-tls
# TLS 1.2 encryption settings.
tls-cipher TLS-DHE-RSA-WITH-AES-256-CBC-SHA
# TLS 1.3 encryption settings.
# tls-ciphersuites TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256

# Use it for datas encryption.
cipher AES-256-CBC

# Use it to authenticate encrypted datas.
auth SHA512

keepalive 10 120

# This is a useful security option for clients, to ensure that
# the host they connect to is a designated server. Or the other
# way around; for a server to verify that only hosts with
# a client certificate can connect.
remote-cert-tls client

# Don’t close and reopen TUN/TAP device or run up/down scripts
# across SIGUSR1 or –ping-restart restarts.SIGUSR1 is
# a restart signal similar to SIGHUP, but which offers finer-grained
# control over reset options.
persist-tun

# Don’t re-read key files across SIGUSR1 or –ping-restart.
# This option can be combined with –user nobody to allow restarts
# triggered by the SIGUSR1 signal. Normally if you drop root
# privileges in OpenVPN, the daemon cannot be restarted since it
# will now be unable to re-read protected key files.
persist-key
