#!/bin/bash

ip link add link {{ network_interfaces[inventory_hostname].gateway.name }} \
            name {{ network_interface }} type macvlan mode bridge

ip link add link {{ network_interfaces[inventory_hostname].gateway.name }} \
            name {{ neutron_external_interface }} type macvtap

dhclient {{ network_interface }}
