{
  "log-opts": {
    "max-file": "5",
    "max-size": "50m"
  },

  "exec-opts": ["native.cgroupdriver=systemd"],

  "insecure-registries": [
    {{ docker_insecure_registries|
       map('regex_replace','(.+)','\"\\1:%s\"'|format(docker_insecure_registries_port))|
       join(',\n    ') }}
  ]
}
