[global]
fsid = {{ ceph_config.fsid }}
mon_initial_members = {{ ceph_config.mon_initial_members }}
mon_host = {{ ceph_config.mon_host }}
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx
