<network>
  <name>{{ item.value.name }}</name>
  <uuid>{{ item.value.uuid }}</uuid>
  <forward mode='{{ item.value.forward.mode }}'/>
  <bridge name='{{ item.value.bridge.name }}'/>
  <virtualport type='{{ item.value.virtualport.type }}'/>
</network>
