#!/bin/bash

if [ "$IFACE" != {{ network_interfaces[inventory_hostname].gateway.name }} ]; then
  exit 0
fi

ip link add link {{ network_interfaces[inventory_hostname].gateway.name }} \
            name {{ network_interface }} type macvlan mode bridge

ip link add link {{ network_interfaces[inventory_hostname].gateway.name }} \
            name {{ neutron_external_interface }} type macvtap

ip addr add {{ network_interfaces[inventory_hostname][network_interface].cidr }} \
        dev {{ network_interface }}

ip link set {{ network_interface }} up
ip link set {{ neutron_external_interface }} up
