[DEFAULT]

{% if storage_backend_type == 'ceph' %}
show_image_direct_url = True
{% endif %}

[glance_store]

{% if storage_backend_type == 'ceph' %}
stores = rbd
default_store = rbd
rbd_store_pool = images
rbd_store_user = glance
rbd_store_ceph_conf = /etc/ceph/ceph.conf
{% endif %}

[paste_deploy]

{% if storage_backend_type == 'ceph' %}
flavor = keystone
{% endif %}
