# A helper directive designed to simplify
# the configuration of OpenVPN’s client mode.
client

dev {{ item.dev }}

{% for s in openvpn_servers['routers'] %}
remote {{ hostvars[inventory_hostname].ansible_host }} {{ s.port }} {{ s.proto }}
{% endfor %}

resolv-retry infinite
compress

# SSL/TLS parms.
ca {{ openvpn_path_ca }}
cert {{ openvpn_path_client_crt }}
key {{ openvpn_path_client_key }}

# The tls-auth directive adds an additional HMAC signature to
# all SSL/TLS handshake packets for integrity verification.
tls-auth {{ openvpn_path_ta }} 1

# openvpn --show-tls
# TLS 1.2 encryption settings.
tls-cipher TLS-DHE-RSA-WITH-AES-256-CBC-SHA
# TLS 1.3 encryption settings.
tls-ciphersuites TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256

# Use it for datas encryption.
cipher AES-256-CBC

# Use it to authenticate encrypted datas.
auth SHA512

# This is a useful security option for clients, to ensure that
# the host they connect to is a designated server. Or the other
# way around; for a server to verify that only hosts with
# a client certificate can connect.
remote-cert-tls server

# Don’t close and reopen TUN/TAP device or run up/down scripts
# across SIGUSR1 or –ping-restart restarts.SIGUSR1 is
# a restart signal similar to SIGHUP, but which offers finer-grained
# control over reset options.
persist-tun

# Don’t re-read key files across SIGUSR1 or –ping-restart.
# This option can be combined with –user nobody to allow restarts
# triggered by the SIGUSR1 signal. Normally if you drop root
# privileges in OpenVPN, the daemon cannot be restarted since it
# will now be unable to re-read protected key files.
persist-key
