[provider]
name = OS Infra Provider.
description = This provider uses OpenStack's own services as storage.
id = {{ '{{ karbor_openstack_infra_id }}' }}

plugin=karbor-volume-protection-plugin
plugin=karbor-server-protection-plugin
plugin=karbor-network-protection-plugin
bank=karbor-s3-bank-plugin

enabled=True

[cinder_backup_protection_plugin]
backup_from_snapshot=True

[freezer_protection_plugin]
storage=s3
endpoint={{ s3_endpoint }}
access_key={{ s3_access_key }}
secret_key={{ s3_secret_key }}

[s3_client]
s3_endpoint={{ s3_endpoint }}
s3_access_key={{ s3_access_key }}
s3_secret_key={{ s3_secret_key }}

[s3_bank_plugin]
lease_expire_window=600
lease_renew_window=120
lease_validity_window=100
bank_s3_object_bucket=karbor
bank_s3_lease_bucket=lease
