[provider]
name = No-Op Provider.
description = This provider does nothing for each protect and restore operation.
id = 1eff12c2-1767-4e18-9ec2-44471533bc48

plugin=karbor-noop-protection-plugin
bank=karbor-s3-bank-plugin

enabled=True

[s3_client]
s3_endpoint={{ s3_endpoint }}
s3_access_key={{ s3_access_key }}
s3_secret_key={{ s3_secret_key }}

[s3_bank_plugin]
lease_expire_window=600
lease_renew_window=120
lease_validity_window=100
bank_s3_object_bucket=karbor-dc2bc656-bb2e-4438-9bd3-001fe904ac40
bank_s3_lease_bucket=karbor-59512027-3ea8-40ce-9831-5894b19b8818
